# -*- mode: gitignore; -*-
# not dotfiles
[a-zA-Z0-9]*

# cache
.*cache*
.*.elc
.babel.json
.pylint.d
.rnd
.v8flags.*
.wget-hsts

# history
.*_history
.lesshst
.recently-used

# local
._sync_*.db
.base16_theme
.CFUserTextEncoding
.cargo
.DS_Store
.docker
.emacs.d
.emscripten
.face.icon
.fonts
.git-completion.sh
.gtkrc-*
.java
.kde*
.multirust
.nvidia-settings-rc
.pulse-cookie
.pyenv
.steam*
.Trash
.themes
.vim
.viminfo
.vimrc_background
.virtualenvs
.wine
.yarn
.yarnrc

# logs
.xsession-errors

# secrets
.dockercfg
.eslint_d
.gitconfig
.git-credentials
.gnupg
.hgrc
.lastpass
.netrc
.pypirc
.vault-token
.webtask
.Xauthority*

# zsh
.oh-my-zsh
.z
.zcompdump*
.zsh_history
.zsh-update
