# -*- mode: gitignore; -*-
# not dotfiles
[a-zA-Z0-9]*

# cache
.*cache*
.*.elc

# history
.*_history
.lesshst
.recently-used

# local
.cargo
.emacs.d
.emscripten
.face.icon
.git-completion.sh
.gtkrc-*
.kde*
.java
.multirust
.pulse-cookie
.rbenv
.steam*
.themes
.vim
.viminfo
.virtualenvs
.wine
.yarn
.yarnrc

# logs
.xsession-errors

# secrets
.dockercfg
.gitconfig
.git-credentials
.gnupg
.lastpass
.netrc
.pypirc
.vault-token
.webtask
.Xauthority*

# zsh
.oh-my-zsh
.z
.zcompdump*
.zsh_history
.zsh-update
